    <!-- ========== Footer ========== -->
    <footer id="footer">
        <div class="footer-top">
        <div class="container">
            <div class="row">
            <div class="footer-contact">
                <h3>J.P.S.O</h3>
                <p>
                <strong>Localisation</strong> : France, 75011 Paris<br>
                <strong>Mobile</strong> : +33 7 50 12 21 73 <br>
                <strong>Email</strong> : souamyjp@hotmail.com <br>
                </p>
            </div>
            </div>
        </div>
        </div>

        <div class="container">
        <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>2025</span></strong> Tous droits
                réservés
            </div>
            <div class="credits">
                Designed by
                <a href="#">SOUAMY-OGOWET Jean-Pierre</a>
            </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.linkedin.com/in/jean-pierre-souamy-ogowet-168634185?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BAfX6E8PaRBuRladCqlvzvQ%3D%3D" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/jeanpierresouamyogowet" target="_blank" title="Profile Github"><i class="bx bxl-github"></i></a>
            </div>
        </div>
        </div>
    </footer>
    <!-- ========== Fin Footer ========== -->
